*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

img{
    position: absolute;
    top: 0;
    left: 40%;
    animation: myanimation 10s linear infinite;
}

@keyframes myanimation{
    0%{
        top: 0;
        left: 40%;
    }
    25%{
        top: 40%;
        left: 80%;
        filter: hue-rotate(90deg);
    }
    50%{
        top: 80%;
        left: 40%;
        filter: hue-rotate(180deg);
    }
    75%{
        top: 30%;
        left: 0;
        filter: hue-rotate(270deg);
    }
    100%{
        top: 0;
        left: 40%;
    }
}